<mat-toolbar align="end" class="toolbar-menu">
  <mat-toolbar-row>
    <a mat-button class="logo">
      <span *ngIf="popText"> {{ menuTitle }} </span>
    </a>
    <a routerLink="/painel">
      <img class="logo-image" src="../../../../assets/logo/_NEWCARD.PNG" alt="" />
    </a>


    <span>{{title}}</span>

    <div class="content-center">
      <div>
        <button class="space-right-icon" mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
          <mat-icon>person</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <button mat-menu-item>
            <mat-icon>edit</mat-icon>
            <span>Editar</span>
          </button>
          <button mat-menu-item>
            <mat-icon>add</mat-icon>
            <span>Adicionar</span>
          </button>
          <button mat-menu-item>
            <mat-icon>exit_to_app</mat-icon>
            <span>Sair</span>
          </button>
        </mat-menu>
        
      </div>
    </div>
  </mat-toolbar-row>
</mat-toolbar>