mat-toolbar-row {
  align-items: center;
  text-align: center;
  width: 100%;
  background: #f1f1f1;
  font-size: 1rem;
  top: 0;
  z-index: 1001;
  box-shadow: 0.063rem 0 0.2rem 0 #8690a3;
}

.logo-image{
  width: 140px;
  margin: 0 auto;
}

.content-center {
  display: flex;
  flex-direction: row;
  margin-left: auto;
}

// button{
//   margin-top: 5px;
// }

.space-right-icon {
  font-weight: bolder;
  font-size:larger;
  color: #0e6a8e;

}
