mat-toolbar {
    box-shadow: 0.063rem 0 0.2rem 0 #8690a3;
    margin-right: 5px; 
    
}

.toolbar-buttons {
    display: flex;
    margin: 0 auto;    
    justify-content: space-between;
    text-transform: uppercase;
}