<h2 class="Cadastro">Cadastro Paciente</h2>

<form [formGroup]="cadastroForm" (ngSubmit)="onSubmit()">
  <div class="container-geral">
    <mat-card class="form-card">
      <mat-card-title>Dados Pessoais</mat-card-title>
      <mat-card-content>

        <mat-form-field>
          <input matInput placeholder="NOME" formControlName="nome" />
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="CPF" formControlName="cpf" />
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="RG" formControlName="rg" />
        </mat-form-field>
      </mat-card-content>
    </mat-card>

    <mat-card class="form-card">
      <mat-card-title>Contato</mat-card-title>
      <mat-card-content>
        <mat-form-field>
          <input matInput placeholder="Telefone" formControlName="telefone" />
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Endereço" formControlName="endereco" />
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Cidade" formControlName="cidade" />
        </mat-form-field>
      </mat-card-content>
    </mat-card>
  </div>

  <div mat-dialog-actions class="justify-content-between">
    <button mat-button (click)="Cancelar()">Cancelar</button>
    <button mat-raised-button color="primary" type="submit">Cadastrar</button>
  </div>
</form>
