<mat-card class="login-card">
  <img src="assets/logo/_NEWCARD.PNG" alt="Logo" class="logo">
  
  <mat-card-title >Login</mat-card-title>
  
  <mat-card-content>
    <form>
      <mat-form-field>
        <mat-label class="label-email">DIgite um email</mat-label>
        <input matInput placeholder="email@exemplo.com" [formControl]="email" required>
        <mat-error *ngIf="email.invalid">{{ getErrorMessage() }}</mat-error>
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Senha" type="password">
      </mat-form-field>

      <div class="button-container">
        <button mat-raised-button class="botao-login" type="submit">
          ENTRAR
        </button>
      </div>

      <div class="senha-cadastro"> 
        
        <a  class="novo-cadastro" routerLink="">
          Esqueceu a senha? 
        </a>
        
        <a class="novo-cadastro" routerLink="">
          Novo Cadastro
        </a>

      </div>
    </form>
  </mat-card-content>
</mat-card>