<mat-card class="login-card">
  <img src="assets/logo/_NEWCARD.PNG" alt="Logo" class="logo">
  
  <mat-card-title >Login</mat-card-title>
  
  <mat-card-content>
    <form>
      <mat-form-field class="full-width">
        <input matInput placeholder="Usuário" type="text">
      </mat-form-field>

      <mat-form-field class="full-width">
        <input matInput placeholder="Senha" type="password">
      </mat-form-field>

      <div class="button-container">
        <button mat-raised-button class="botao-login" type="submit">
          ENTRAR
        </button>

      </div>
    </form>
  </mat-card-content>
</mat-card>