
  <mat-grid-list cols="1" rowHeight="2:1">
    <mat-grid-tile>
      <mat-card>
        <mat-card-title>Novo Cadastro</mat-card-title>
        <mat-card-content>
          <form>
            <mat-form-field>
              <input matInput placeholder="Nome" required />
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Função" required />
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="E-mail" type="email" required />
            </mat-form-field>
            <mat-form-field>
              <input matInput placeholder="Senha" type="password" required />
            </mat-form-field>
            <mat-form-field>
              <input
                matInput
                placeholder="Confirmar Senha"
                type="password"
                required
              />
            </mat-form-field>
            <button class="botao-voltar" mat-raised-button color="access" type="submit">
              Voltar
            </button>
            <button class="botao-Limpar" mat-raised-button color="warn" type="submit">
              Limpar
            </button>
            <button class="botao-cadastrar" mat-raised-button color="primary" type="submit">
              cadastrar
            </button>
          </form>
        </mat-card-content>
      </mat-card>
    </mat-grid-tile>
  </mat-grid-list>

