.content {
  margin-top: 25px;
  width: 95.8%;
  margin-left: 5rem;
  padding: 2rem;
  background-color: #e0e0e0;

  @media (min-width: 801px) and (max-width: 1900px) {
    width: 95%;
    margin-left: 4rem;
    // padding: 2rem;
    background-color: #e0e0e0;
  }

  @media (max-width: 800px) {
    width: 94%;
    margin-left: 4rem;
    // padding: 2rem;
    background-color: #e0e0e0;
  }
}

