.container-geral {
  width: 100%;
  height: 85vh;
  padding: 5px;
  background-image: url('../../../assets/img/fundo-frio.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 4px;
  box-shadow: 0.2rem 0.2rem 1rem 0.2rem #000000;

  @media (min-width: 801px) and (max-width: 1900px) {
    height: 100%;
  }

  @media (max-width: 800px) {
    height: 100%;
  }

}

.upperdata {
  position: relative;
  overflow: hidden;
  width: 100%;
  height: 50vh;
}

.contentcard {
  margin-top: 5rem;
  width: 555px;
}

mat-card-actions {
  align-self: flex-end;
}

.cardslinks {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  color: #fff;


  @media (min-width: 801px) and (max-width: 1900px) {
    margin-top: -50px;
    width: 100%;
  }

  @media (max-width: 800px) {
    margin-top: -80px;
    width: 100%;
  }
}

.card-secundarios {
  width: 100%;
  background: transparent;
  color: #fff;

}

.share-buttons {
  color: #fff;
}
