

.contentcard{
  margin-top: 10rem;
  width: 32%;
}

mat-card-actions{
  align-self: flex-end;
}

.cardslinks{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card-secundarios{
  width: 100%;

}
