@import '~bootstrap/dist/css/bootstrap.min.css';
@import '~bootstrap-icons/font/bootstrap-icons.css';

.content {
  background-color: #efefef;
}

.calendar {
  margin: 0 auto;
  width: 100%;
  background: #eee;
  border-bottom: 1px solid #ddd;
  padding: 0 10px;

  .demo-app-main {
    padding: 3em;
  }

  .fc-col-header-cell-cushion {
    color: #c7c7c7;
  }

  .a {
    text-decoration: none;
    color: #c7c7c7;
  }
}
