.content{
  background-color: #efefef;

}


.calendar{
  margin: 0 auto;
  width: 99.9%;
  padding: 15px;


  .demo-inline-calendar-card {
    width: 100%;

  }

  mat-calendar-body-label{
    width: 100%;
  }
}




