<div class="container-geral">
  <!-- ... (previous code) ... -->
  <button mat-icon-button class="fechar" (click)="sair()">
    <mat-icon aria-label="Fechar">close</mat-icon>
  </button>
  <mat-card-content>
    <mat-card-title>Cadastro Funcionario</mat-card-title>
    <form [formGroup]="cadastroForm" (ngSubmit)="onSubmit()">
      <p>
        <mat-form-field appearance="fill">
          <mat-label> Nome </mat-label>
          <input matInput placeholder="Digite um nome válido" formControlName="nome" />
          <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
        </mat-form-field>
      </p>

      <div class="content-forms">
        <p class="form-cadastro-email">
          <mat-form-field appearance="fill">
            <mat-label> e-mail </mat-label>
            <input matInput placeholder="Digite um e-mail válido" formControlName="email" />
          </mat-form-field>
        </p>
      </div>


      <p class="form-cadastro-senha">
        <mat-form-field appearance="fill">
          <mat-label> Senha </mat-label>
          <input matInput placeholder="Digite a senha" formControlName="senha" />
          <mat-hint>Digite a senha</mat-hint>
        </mat-form-field>
      </p>


      <div class="button-container">
        <button class="botao-cadastrar" mat-raised-button type="submit">
           Cadastrar
        </button>

      <button mat-raised-button color="warn" type="button" (click)="limparFormulario()">
        Limpar
      </button>
    </div>
    </form>
  </mat-card-content>
</div>

