.container-geral {
  margin: 0 auto;
  width: 100%;
  max-height: 76vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;

  .fechar {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #ee7c75; /* Cor do ícone */
  }

  mat-card-content{
    margin: 0 auto;
    // margin-bottom: 20px;
    width: 80%;
  }
  mat-card-title{
    margin-bottom: 10px;
  }

  mat-form-field {
    display: flex;
    flex-direction: column;
  }

  mat-card-title {
    margin: 0 auto;
    margin-top: 25px;
    margin-bottom: 20px;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 1.2rem;
    color: #326089;
  }

  .mat-card {
    width: 100%;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .mat-form-field {
    width: 100%;
    margin: 8px 0;
  }


  .form-cadastro-email{
    width: 100%;
  }

  .form-cadastro-senha{
    width: 45%;
  }

  .form-cadastro-confirmasenha{
    width: 45%;
  }


  .botao-cadastrar{
    background-color: #0e6a8e;
    color: #fff;
  }

  .Limpar{
    background-color: #ee7c75;
    color: #fff;
  }

}

.botao-sair {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 16px;
  position: fixed;
}

.button-container {
  display: flex;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 20px;

}
.content-forms{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

button {
  margin-left: 8px;
  text-transform: uppercase;
}
